{{define "root-body"}}
<section class="hero is-primary is-medium">
  <div class="hero-foot">
    <div class="columns is-mobile">
      {{ range .Movies}}
      <div class="column">
        <li class="movie-choice">
          {{if .SmallImgSrc}}
          <img src="{{ .SmallImgSrc }}" class="desktop"/>
          {{end}}
          <p class="mobile">{{ .Subtitle }}</p>
        </li>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{end}}
{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}