{{define "root-body"}}
<section class="hero is-primary is-medium">
  <div class="hero-foot">
    <div class="columns is-mobile">
      <div class="column">
        <li class="movie-choice">
          {{if .Image}}
          <img src="" class="desktop"/>
          {{end}}
          <p class="mobile"></p>
        </li>
      </div>
    </div>
  </div>
</section>
{{end}}
{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}