{{define "root-body"}}
<div>
  <div>
    <div class="hero-body">
      <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter vertical-align">
        <h1 class="home-intro">
          {{ .Title }}
        </h1>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="columns is-mobile">
      {{ range .Movies}}
      <div class="column">
        <li class="movie-choice">
          {{if .SmallImgSrc}}
          <img src="{{ .SmallImgSrc }}" class="desktop"/>
          {{end}}
          <p class="mobile">{{ .Subtitle }}</p>
        </li>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{end}}
{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}