{{define "root"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MV-Flix</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css">
    <link href="/static/css/style.css" rel="stylesheet">
    {{template "root-style" .}}
  </head>
  <body>
    <div id="app">
      {{template "root-body" .}}

    </div>
    {{template "root-script" .}}
  </body>
</html>
{{end}}